<html layout:decorate="~{layout}">
<head>
  <link rel="stylesheet" th:href="@{/css/pages/membership.css}">
</head>
<div layout:fragment="content">
  <!-- 주요 내용 -->
  <div class="membershipBox">

    <h1>Membership</h1>

    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
      data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">

      <div class="textBox">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.
        </p>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            동의
          </label>
        </div>
      </div>

      <form th:action="@{/user/membership}" th:object="${userCreateForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
          <label for="userId" class="form-label">아이디</label>
          <input type="text" th:field="*{userId}" class="form-control" placeholder="Id">
        </div>
        <div class="mb-3">
          <label for="nickname" class="form-label">닉네임</label>
          <input type="text" th:field="*{nickname}" class="form-control" placeholder="Nickname">
        </div>
        <div class="mb-3">
          <label for="password1" class="form-label">비밀번호</label>
          <input type="password" th:field="*{password1}" class="form-control" placeholder="비밀번호">
        </div>
        <div class="mb-3">
          <label for="password2" class="form-label">비밀번호 확인</label>
          <input type="password" th:field="*{password2}" class="form-control" placeholder="비밀번호 확인">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">email</label>
          <input type="email" th:field="*{email}" class="form-control" placeholder="email">
        </div>
        <button type="submit" class="a-btn btn-primary btn-login">회원가입</button>
      </form>
    </div>
  </div>
</div>
</html>